<h1>Caesar Cipher Solver</h1>

<%= form_with url: "/solver/solve", method: :get do |form| %>
    <div>
        <%= form.label :original, "Caesar Cipher:" %>
        <%= form.text_field :original %>
        <%= form.submit 'Process', :name => nil, disabled: @allowance['status'] != 'ACTIVE' %>
    </div>
<% end %>