@import "bootstrap";

.primary {
    background-color: #F4DECB;
}

.secondary {
    background-color: #94618E;
}

.tertiary {
    background-color: #49274A;
}

.tertiary-button {
    background-color: #49274A;
    color: white;;
}