<h1>Info</h1>
<p>This is the web version of my Caesar Cipher solver.</p>
<p>When the user enters a cipher, the website generates all 26 potential permutations of the cipher and submits them to the DetectLanguage API which tells us how likely any sentence is to be a human language.</p>
<p>The results are ranked in order of likelihood, and any that we deem are probably human language are coloured green, while any that seem like nonsense are coloured red.</p>
<p>Since I'm using the free tier of the DetectLanguage API I can only process ~38 ciphers per day, so I have added an API usage bar at the bottom to indicate how close we are to running out. I also added memoization to the API call, meaning that if the user enters a cipher that we have seen before we can just use the cached result and avoid re-calling the API.</p>
<p>For more information please check out the <a href="https://github.com/SimonCadge/ruby_caesar_cipher_solver" class="link-info">Original Ruby Command Line Version GitHub</a> and the <a href="https://github.com/SimonCadge/rails_caesar_cipher_solver" class="link-info">Ruby on Rails Web Version GitHub</a>.</p>